<div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
      <p>Have an account?</p>
      <form>
        <div class="input-group">
          <input type="text" placeholder="Username" required>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" required>
          <span class="show-password">👁️</span>
        </div>
        <button type="submit" class="btn btn-signin" (click)="navigateToHome()">SIGN IN</button>
        <div class="additional-options">
          <label><input type="checkbox"> Remember Me</label>
          <a href="#">Forgot Password</a>
        </div>
        <div class="social-login">
          <p>Or Sign In With</p>
          <div class="social-buttons">
            <button class="btn btn-facebook"><img src="../../assets/facebook.png"></button>
            <button class="btn btn-twitter"><img src="../../assets/gmail.png"></button>
            <button class="btn btn-twitter"><img src="../../assets/sign-up.png"></button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  