.container-header{
    display: flex;
     min-width: 100%;
     background-color: #008B8B;
     min-height: 50px;
     align-items: center;
 }
.logo{
    flex:70%
}
.login{
    flex:10%;
}
.sign-up{
    flex:10%;
}
.about{
    flex:10%;
}
.logo{
    display: flex;
    flex:70%;
    
}
.logout{
    flex:5%;
}
.data-plan{
    flex:5%;
}
.clothing{
    flex:5%;
}
.add-cart{
    flex:5%;  
}
.logo-img{
    height: 36px;
    margin-left: 25px;
    margin-top: 5px;
}
.logo-text{
    margin-top: 14px;
    margin-left: 8px;
    color: yellow;
}